@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width:0.5em;
    background-color: gray;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: rgb(198, 192, 192);
}